*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#2E4053;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 70vh;
    padding: 1.4rem;
    margin: auto;
    background: rgb(125, 200, 200);
    border-radius: 10px;
    box-shadow: 2px 2px 15px #333;
}

.calculator-buttons{ 
    flex: 9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.result{
    flex: 1;
    font-size: 30px;
    padding: 1.4rem;
    margin-bottom: 10px;
    border: none;
    background: #fff;
    border-radius: 5px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    border: none;
    background: white;
    border-radius: 5px;
    transition: 0.4s;
}

.clean{
    background: rgb(250, 255, 0);
}

.button.clean:hover{
    background: rgb(255, 173, 59);
}

.button:hover{
    background: rgb(255, 255, 142);
}

